*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(68, 68, 68);
    height: 60px;
}
h1{
    color: white;
    margin-left: 17%;
    padding-top: 10px;
}
.series{
        background: rgb(0, 0, 0);
      padding: 100px;
      height: 200px;
      display: inline-block;
      margin-left: 30%;
      margin-top: 60px;
}
.titl-1{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}
.movies{
    background: rgb(0, 0, 0);
  padding: 100px;
  height: 200px;
  display: inline-block;
  margin-left: 10%;
  margin-top: 60px;
}
a{
    text-decoration: none;
}
.popul{
    text-align: center;
}
.ser{
    margin-right: 670px;
    color: gray;
}
.mov{
    margin-right: -330px;
    color: gray;
    margin-top: -17px;
}