<app-navbar></app-navbar>
<div class="container">
    <div>
        <h1>Popular Titles</h1>
    </div>
</div>

<div class="series">
    <div>
        <a href="#">
            <h1 class="titl-1">SERIES</h1>
        </a>
    </div>
</div>

<div class="movies">
    <div>
        <a href="#">
            <h1 class="titl-1">MOVIES</h1>
        </a>
    </div>
</div>

<div class="popul">
    <p class="ser">Popular Series</p>
</div>

<div class="popul">
    <p class="mov">Popular Movies</p>
</div>

<app-footer></app-footer>